<p>El presente trabajo busca mostrar patrones del Quini 6. Dado que el juego tiene 4 modalidades diferentes, en el presente resumen, se va a tomar el modo 'Total', que es una invensión analítica que agrupa todos los sorteos. </p>
<p>Mediante el uso de pandas, la importación de módulos, manejo de listas, diccionarios y funciones; se muestran valores frecuenciales de los números sorteados, cuestiones más abstractas como la desviación de dichas frecuencias por posición de serie, utilizacion de cuantiles para segmentar los valores frecuenciales.</p>
<p>A su vez, se analizan los valores salidos en lo que concierne a su sumatoria, la presencia de números consecutivos, y la presencia de números repetidos. Por último, se muestran patrones de grupos de números como pares-impares y primos-no primos; y se muestran patrones de números agrupados por dígito final</p>

<h4>Anibal Vicens</h4>



<ul>
    <h2><a href="#Números_Sorteados">Números Sorteados</a></h2>
    <ul>
        <li><a href="#Frecuencias_desviacion"> Desviación de Frecuencias </a></li>
        <li><a href="#Frecuencias_cuantiles"> Frecuencias en cuantiles </a></li>
    </ul>
    <h2><a href="#Series">Series</a></h2>
    <ul>
        <li><a href="#Sumatoria"> Sumatoria de valores </a></li>
        <li><a href="#Consecutivos_en_una_Serie"> Consecutivos en una Serie </a></li>
        <li><a href="#Repetidos_entre_Series"> Repetidos entre Series </a></li>
    </ul>
    <h2><a href="#Grupos">Grupos</a></h2>
    <ul>
        <li><a href="#Pares_Impares"> Pares e Impares </a></li>
        <li><a href="#Primos"> Primos y No Primos </a></li>
        <li><a href="#Grupos_x_digitos"> Agrupados por último dígito</a></li>
    </ul>
</ul>

In [1]:
import pandas as pd
import numpy as np

import math
import quini6_groups as q6
import game_parameters as gp
import match_fx as mf


pd.options.display.max_columns = None
pd.options.display.max_rows = 70

playables=q6.playables

game_modes=[]
game_modes = ['Tradicional', 'La Segunda', 'Revancha', 'Siempre Sale'] #ok --> los valores de los nros y de las series se suman
PTS={}                                                                        #en total y se discriminan por modo de juego.
Total={}
rows_total=[]
Tradicional={}
rows_tradicional=[]
Segunda={}
rows_segunda=[]
Revancha={}
rows_revancha=[]
SS={}
rows_ss=[]

[[[0, 1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45], [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]], [[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44], [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45]], [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26, 27, 28, 29], [30, 31, 32, 33, 34, 35, 36, 37, 38, 39], [40, 41, 42, 43, 44, 45]], '[0]Prime/Non_Prime-[0][0]Non-Prime,[0][1]Prime; /// [1]Pair/Unpair-[1][0]Pair,[1][1]Unpair; ///[2]Colours-[2][0]White,[2][1]Red,[2][2]Green,[2][3]Yellow,[2][4]Blue; ///[3]This Str...']

In [2]:
def set_number_indexes(x):
    if x ==False:
        return {'matches': 0, 'freq': None, 'streak': 0, 'freq10': {}, 'freq20': {}, 'freq30': {}, 'freq50': {}, 'freq100': {}, 'historic':{0:(0,0,0,0,0)}}
    else:
        return {'number_value': None, 'matches': 0, 'freq': {}, 'streak': 0, 'freq10': {}, 'freq20': {}, 'freq30': {}, 'freq50': {}, 'freq100': {} ,'historic':{}}

In [3]:
PTS['General']={}
pts_modes=[]
pts_modes.append('General')
for gm in game_modes:
    pts_modes.append(gm)

for mode in pts_modes:
    #print(mode)
    PTS[mode]={}
    PTS[mode]['nro']={'frecuencia':{
                                    'mean_std':{'condicion': '', 'points':0},
                                    '30_70':{'condicion': '', 'points':0},
                                    '20_80':{'condicion': '', 'points':0},
                                    '15_85':{'condicion': '', 'points':0}
                    }, 
                      'rango_10':{
                                  'mean_std':{'condicion': '', 'points':0},
                                  '30_70':{'condicion': '', 'points':0},
                                  '20_80':{'condicion': '', 'points':0},
                                  '15_85':{'condicion': '', 'points':0}
                    }, 
                      'rango_20':{
                                  'mean_std':{'condicion': '', 'points':0},
                                  '30_70':{'condicion': '', 'points':0},
                                  '20_80':{'condicion': '', 'points':0},
                                  '15_85':{'condicion': '', 'points':0}
                    }, 
                      'rango_30':{
                                  'mean_std':{'condicion': '', 'points':0},
                                  '30_70':{'condicion': '', 'points':0},
                                  '20_80':{'condicion': '', 'points':0},
                                  '15_85':{'condicion': '', 'points':0}
                    }, 
                      'rango_50':{
                                  'mean_std':{'condicion': '', 'points':0},
                                  '30_70':{'condicion': '', 'points':0},
                                  '20_80':{'condicion': '', 'points':0},
                                  '15_85':{'condicion': '', 'points':0}
                    }, 
                      'rango_100':{
                                  'mean_std':{'condicion': '', 'points':0},
                                  '30_70':{'condicion': '', 'points':0},
                                  '20_80':{'condicion': '', 'points':0},
                                  '15_85':{'condicion': '', 'points':0}
                    }}
    PTS[mode]['serie']={}
    PTS[mode]['serie']['add']={}
    PTS[mode]['serie']['par_impar']={}
    PTS[mode]['serie']['prime_nprime']={}
    PTS[mode]['serie']['consec']={}
    PTS[mode]['serie']['desv']={}
    PTS[mode]['serie']['rep_serie_anterior']={}
    PTS[mode]['serie']['desv_serie_anterior']={}
    

    
print(PTS)

{'General': {'nro': {'frecuencia': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_10': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_20': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_30': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_50': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_100': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}}, 'serie': {'add': {}, 'par_impar': {}, 'prime_nprime': {}, 'consec': {}, 'desv': {}, 'rep_serie_anterior': {}, 'desv_serie_anterior': {}}}, 'Tradicional': {'nro': {'frecuencia': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_10': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_20': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_30': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_50': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_100': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}}, 'serie': {'add': {}, 'par_impar': {}, 'prime_nprime': {}, 'consec': {}, 'desv': {}, 'rep_serie_anterior': {}, 'desv_serie_anterior': {}}}, 'La Segunda': {'nro': {'frecuencia': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_10': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_20': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_30': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_50': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_100': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}}, 'serie': {'add': {}, 'par_impar': {}, 'prime_nprime': {}, 'consec': {}, 'desv': {}, 'rep_serie_anterior': {}, 'desv_serie_anterior': {}}}, 'Revancha': {'nro': {'frecuencia': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_10': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_20': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_30': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_50': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_100': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}}, 'serie': {'add': {}, 'par_impar': {}, 'prime_nprime': {}, 'consec': {}, 'desv': {}, 'rep_serie_anterior': {}, 'desv_serie_anterior': {}}}, 'Siempre Sale': {'nro': {'frecuencia': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_10': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_20': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_30': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_50': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}, 'rango_100': {'mean_std': {'condicion': '', 'points': 0}, '30_70': {'condicion': '', 'points': 0}, '20_80': {'condicion': '', 'points': 0}, '15_85': {'condicion': '', 'points': 0}}}, 'serie': {'add': {}, 'par_impar': {}, 'prime_nprime': {}, 'consec': {}, 'desv': {}, 'rep_serie_anterior': {}, 'desv_serie_anterior': {}}}}

In [4]:
numbers={}  #es el array de los nros jugables
rank_positions={}  #es el array de las posiciones, el mapeo --> se ordena: MODO-IDsorteo-rango-posiciones(numero, matches, frecuencia)
historic_positions={} #es el array del acumulado de las posiciones
for n in range (len(playables)):
    #numbers[n]={'General': set_number_indexes(False)}
    numbers[n]={}
    #historic_positions={}
    numbers[n]['value']=n
    #historic_positions[n]
    numbers[n]['General']=set_number_indexes(False)
    historic_positions[n+1]={}
    historic_positions[n+1]['position']=n+1
    historic_positions[n+1]['General']=set_number_indexes(False)
    
   


    
    for mode in game_modes:
        numbers[n][mode]=set_number_indexes(False)
        historic_positions[n+1][mode] = set_number_indexes(False)
        #rank_positions[lotery_id][mode]= set_number_indexes(True)

In [5]:
def number_match(number, array, mode, id_lotery):
    
    #print(f'$array[$number][$mode]["matches"]// {number}-{mode}')
    #print(array[number][mode]['matches'])
    
    y_n=1
    array[number][mode]['matches']+=1
    try:
        array[number][mode]['freq']= round(array[number][mode]['matches']/id_lotery,2)
    except ZeroDivisionError:
        array[number][mode]['freq']= 0
    
    
    if array[number][mode]['streak'] <= 0:
        array[number][mode]['streak']=1
    else:
        array[number][mode]['streak']+=1
    
    
    
    last_match=id_lotery
    last_match_diff=0
    
    values_to_historic=(array[number][mode]['matches'], array[number][mode]['freq'], y_n, last_match, last_match_diff)
    array[number][mode]['historic'][id_lotery]=values_to_historic

In [6]:
def not_match(serie, array,mode, id_lotery):  #completa el historial aunque no hay salido en la serie
    
    for item in array:
        number=array[item]['value']
        if mf.is_number_in(number, serie)==False:
            y_n=0
            try:
                array[number][mode]['freq']= round(array[number][mode]['matches']/id_lotery,4)
            except ZeroDivisionError:
                array[number][mode]['freq']= 0
            
           
            last_match_diff= id_lotery - (array[number][mode]['historic'][id_lotery-1][3])
            last_match=array[number][mode]['historic'][id_lotery-1][3]
            
            #last_match=array[number][mode]['historic'][id_lotery-1][3]
            values_to_historic=(array[number][mode]['matches'], array[number][mode]['freq'],y_n, last_match, last_match_diff)
            array[number][mode]['historic'][id_lotery]=values_to_historic

In [7]:
def get_range_num_freq(range_rounds,serie_id, mode, dict, n_list):
    
    
    if range_rounds != 10 and range_rounds !=20 and range_rounds != 30 and range_rounds != 50 and range_rounds != 100:
        return print('Los rangos de frecuencia tienen que ser 10,20,30,50 o 100....!')
    
    id= serie_id
    prev= id-1 #la idea es que muestre la freq hasta ANTES del sorteo para el cual se juega
    series=[]
    matches={}
    #values=[]
    freq_index= "freq" + str(range_rounds)
    
    if id<= range_rounds:
        #print('Id menor al rango aplicab{e')
        for num in numbers:
            
            
            numbers[num][mode][freq_index][id]=('Na','Na','Na','Na','Na')
        
        return (f'{id}- ID No aplicable ==> $numbers[num][mode][freq_index][id]= {numbers[num][mode][freq_index][id]}')
    
    
    for num in n_list:
        matches[num]=0
    
    
    start= prev-range_rounds+1
    
    for item in range (start,id):
        serie=dict.loc[item, 'serie']
        series.append(serie)
        
    for s in series:
        #print(s)
        for num in matches:
            if mf.is_number_in(num, s) == True:
                    matches[num]+=1
            
    
    for number in numbers:
        #values.append(id) --> va al índica del diccionario...
        #values.append(matches[number])
        try:
            range_freq= matches[number] / len(series)
        except ZeroDivisionError:
            range_freq=0
        #values.append(range.freq)
        
  ####IMPORTANTE! => $prev es el nro de serie histórica, por regla de 3 se sacarían los matches esperados...      
        historic_freq= numbers[number][mode]['historic'][prev][1] #esto debe ser la frecuencia historica al sorteo anterior
        historic_matches=numbers[number][mode]['historic'][prev][0]
        diff_freq = round(range_freq - historic_freq,3)
        #values.append(diff_freq)
        expected_matches=int(round(((historic_matches*range_rounds)/prev),0))
        diff_expected=matches[number] - expected_matches
        
        numbers[number][mode][freq_index][id] = (matches[number], range_freq, diff_freq, expected_matches, diff_expected)
        #print(f' Nro: {number} --> {freq_index} => {numbers[number][mode][freq_index][id]}') -->OK

In [8]:
def set_first_values(dict, id, modo,loteria, serie, suma):
    dict[id]={}
    dict[id]['ID']=id
    dict[id]['mode']=modo
    dict[id]['serie']=serie
    dict[id]['lotery']=loteria
    for i in range(len(serie)):
        index='n'+str(i+1)
        dict[id][index]=serie[i]
    #dict[id]['serie']=serie
    dict[id]['suma']=suma

In [9]:
def append_for_df(dict,index):
    values=[]
    for key in dict[index]:
        
        values.append(dict[index][key])
        
        
    values.pop(2)
    values.pop(1)
    return values

In [10]:
df=pd.read_excel('quini_6.xlsx')
list_of_rows=df.values.tolist()
datawork=[]
stats=[]
serie=[]
s_elements=[]
lotery_series=[]
t_ranges=[10,20,30,50,100]
id=0

for row in list_of_rows:
    serie=[]
    #print(row)
    addition=0
    id+=1
    mode=row[2]
    id_lot=row[0]
    
    for num in range(3,len(row)): #Datos de números y ver característica de la serie...
        serie.append(row[num]) #Ok! , si uso print, se cuelga la notebook...
        number_match(row[num],numbers,'General', id ) #-->'General' es distinto ya que no es un modo y la numeración es diferente

        addition+=row[num]
    
    
    set_first_values(Total,id,mode,id_lot,serie,addition)
    rows_total.append(append_for_df(Total,id))
    not_match(serie, numbers, 'General',id)
    
    id_mode= len(Total)
    
            
    if mode == 'Tradicional':
        id_mode=len(Tradicional)+1
        set_first_values(Tradicional,id_mode,mode,id_lot,serie,addition)
        rows_tradicional.append(append_for_df(Tradicional,id_mode))
        
        for n_item in serie:
            number_match(n_item, numbers, mode, id_mode)
        
        not_match(serie,numbers,mode,id_mode)
        
    
    elif mode == 'La Segunda':
        id_mode=len(Segunda)+1
        set_first_values(Segunda,id_mode,mode,id_lot,serie,addition)
        rows_segunda.append(append_for_df(Segunda,id_mode))
        
        for n_item in serie:
            number_match(n_item, numbers, mode, id_mode)
        
        not_match(serie,numbers,mode,id_mode)
        
       
    elif mode == 'Revancha':
        id_mode=len(Revancha)+1
        set_first_values(Revancha,id_mode,mode,id_lot,serie,addition)
        rows_revancha.append(append_for_df(Revancha,id_mode))
        
        for n_item in serie:
            number_match(n_item, numbers, mode, id_mode)
        
        not_match(serie,numbers,mode,id_mode)
        
        
    elif mode == 'Siempre Sale':
        
        id_mode=len(SS)+1
        
        set_first_values(SS,id_mode,mode,id_lot,serie,addition)
        rows_ss.append(append_for_df(SS,id_mode))
        
        for n_item in serie:
            number_match(n_item, numbers, mode, id_mode)
        #print(SS)
    #print(serie)
        not_match(serie,numbers,mode,id_mode)

In [11]:
headers=['ID', 'lotery','n1','n2','n3','n4','n5','n6','add']

In [12]:
df_revancha=pd.DataFrame(np.array(rows_revancha), columns=list(headers))
df_total=pd.DataFrame(np.array(rows_total), columns=list(headers))
df_tradicional=pd.DataFrame(np.array(rows_tradicional), columns=list(headers))
df_segunda=pd.DataFrame(np.array(rows_segunda), columns=list(headers))
df_ss=pd.DataFrame(np.array(rows_ss), columns=list(headers))

In [13]:
df_total.describe()

,ID,lotery,n1,n2,n3,n4,n5,n6,add
count,5808.000000,5808.000000,5808.00000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000,5808.000000
mean,2904.500000,2473.500000,5.54511,12.312672,19.030647,25.726240,32.449897,39.309229,134.373795
std,1676.769513,419.192285,5.32285,6.999744,7.763228,7.746419,7.057385,5.428221,31.331442
min,1.000000,1748.000000,0.00000,1.000000,2.000000,4.000000,6.000000,13.000000,28.000000
25%,1452.750000,2110.750000,1.00000,7.000000,13.000000,20.000000,28.000000,37.000000,112.000000
50%,2904.500000,2473.500000,4.00000,11.000000,19.000000,26.000000,33.000000,41.000000,135.000000
75%,4356.250000,2836.250000,8.00000,17.000000,24.250000,32.000000,38.000000,43.000000,156.000000
max,5808.000000,3199.000000,34.00000,38.000000,42.000000,43.000000,44.000000,45.000000,230.000000

In [14]:
df_tradicional.describe()

,ID,lotery,n1,n2,n3,n4,n5,n6,add
count,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000
mean,726.500000,2473.500000,5.320248,12.080579,18.944904,25.634298,32.466253,39.407025,133.853306
std,419.300608,419.300608,5.074095,6.963406,7.794995,7.729080,7.087294,5.407734,31.260579
min,1.000000,1748.000000,0.000000,1.000000,3.000000,4.000000,9.000000,16.000000,38.000000
25%,363.750000,2110.750000,1.000000,7.000000,13.000000,20.000000,28.000000,37.000000,112.000000
50%,726.500000,2473.500000,4.000000,11.000000,19.000000,26.000000,33.000000,41.000000,134.000000
75%,1089.250000,2836.250000,8.000000,17.000000,24.000000,31.000000,38.000000,44.000000,155.250000
max,1452.000000,3199.000000,30.000000,38.000000,42.000000,43.000000,44.000000,45.000000,229.000000

In [15]:
df_segunda.describe()

,ID,lotery,n1,n2,n3,n4,n5,n6,add
count,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000
mean,726.500000,2473.500000,5.783747,12.615014,19.287879,25.934573,32.546143,39.387052,135.554408
std,419.300608,419.300608,5.588712,7.261000,7.904830,7.787175,7.069309,5.235625,31.840496
min,1.000000,1748.000000,0.000000,1.000000,2.000000,5.000000,7.000000,16.000000,40.000000
25%,363.750000,2110.750000,2.000000,7.000000,13.000000,20.000000,28.000000,37.000000,113.000000
50%,726.500000,2473.500000,4.000000,12.000000,19.000000,26.000000,34.000000,41.000000,136.000000
75%,1089.250000,2836.250000,8.000000,18.000000,25.000000,32.000000,38.000000,43.000000,156.250000
max,1452.000000,3199.000000,34.000000,37.000000,42.000000,43.000000,44.000000,45.000000,229.000000

In [16]:
df_revancha.describe()

,ID,lotery,n1,n2,n3,n4,n5,n6,add
count,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000
mean,726.500000,2473.500000,5.460055,12.346419,18.961433,25.646694,32.522727,39.251377,134.188705
std,419.300608,419.300608,5.208319,6.937684,7.827034,7.851120,7.039626,5.540730,31.372776
min,1.000000,1748.000000,0.000000,1.000000,2.000000,5.000000,6.000000,13.000000,28.000000
25%,363.750000,2110.750000,1.000000,7.000000,13.000000,20.000000,28.000000,36.000000,111.000000
50%,726.500000,2473.500000,4.000000,11.000000,19.000000,26.000000,34.000000,41.000000,135.000000
75%,1089.250000,2836.250000,8.000000,17.000000,25.000000,32.000000,38.000000,43.000000,157.000000
max,1452.000000,3199.000000,30.000000,36.000000,40.000000,43.000000,44.000000,45.000000,224.000000

In [17]:
df_ss.describe()

,ID,lotery,n1,n2,n3,n4,n5,n6,add
count,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000
mean,726.500000,2473.500000,5.616391,12.208678,18.928375,25.689394,32.264463,39.191460,133.898760
std,419.300608,419.300608,5.400266,6.825469,7.523020,7.620609,7.036992,5.525879,30.845563
min,1.000000,1748.000000,0.000000,1.000000,3.000000,5.000000,10.000000,13.000000,39.000000
25%,363.750000,2110.750000,1.000000,7.000000,13.000000,20.000000,28.000000,36.000000,113.000000
50%,726.500000,2473.500000,4.000000,11.000000,19.000000,26.000000,33.000000,41.000000,135.000000
75%,1089.250000,2836.250000,8.000000,17.000000,24.000000,31.250000,38.000000,43.000000,155.000000
max,1452.000000,3199.000000,29.000000,35.000000,39.000000,43.000000,44.000000,45.000000,230.000000

## Números_Sorteados

In [18]:
df_total['serie']= df_total.apply(lambda row: [row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']] ,axis=1)
#df_total['n1freq']=df_total.apply(lambda row: numbers[row['n1']]['General']['freq'], axis=1)
#df_total['n1mtch']=df_total.apply(lambda row: (df_total).agg(row['n1']), axis=1)
df_tradicional['serie']= df_tradicional.apply(lambda row: [row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']] ,axis=1)
df_segunda['serie']= df_segunda.apply(lambda row: [row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']] ,axis=1)
df_revancha['serie']= df_revancha.apply(lambda row: [row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']] ,axis=1)
df_ss['serie']= df_ss.apply(lambda row: [row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']] ,axis=1)

In [19]:
#frequencies
df_total['n1mtch']=df_total.apply(lambda row:(numbers[row['n1']]['General']['historic'][row['ID']-1])[0], axis=1)
df_total['n1frq']=df_total.apply(lambda row:(numbers[row['n1']]['General']['historic'][row['ID']-1])[1], axis=1)
df_total['1frnormal']=df_total.apply(lambda row: int(1) if(row['n1frq']>df_total['n1frq'].quantile(0.25)) and (row['n1frq']<df_total['n1frq'].quantile(0.75)) else int(0) ,axis=1)
df_total['n1_last']=df_total.apply(lambda row:(numbers[row['n1']]['General']['historic'][row['ID']-1])[3], axis=1)
df_total['n1_last_diff']=df_total.apply(lambda row:(numbers[row['n1']]['General']['historic'][row['ID']-1])[4], axis=1)
#df_total['n1_last_diff']=df_total.apply(lambda row:(numbers[row['n1']]['General']['historic'][row['ID']-1])[4], axis=1)

df_total['n2mtch']=df_total.apply(lambda row:(numbers[row['n2']]['General']['historic'][row['ID']-1])[0], axis=1)
df_total['n2frq']=df_total.apply(lambda row:(numbers[row['n2']]['General']['historic'][row['ID']-1])[1], axis=1)
df_total['2frnormal']=df_total.apply(lambda row: int(1) if(row['n2frq']>df_total['n2frq'].quantile(0.25)) and (row['n2frq']<df_total['n2frq'].quantile(0.75)) else int(0) ,axis=1)
df_total['n2_last']=df_total.apply(lambda row:(numbers[row['n2']]['General']['historic'][row['ID']-1])[3], axis=1)
df_total['n2_last_diff']=df_total.apply(lambda row:(numbers[row['n2']]['General']['historic'][row['ID']-1])[4], axis=1)
#df_total['n2_last_diff']=df_total.apply(lambda row:(numbers[row['n2']]['General']['historic'][row['ID']-1])[4], axis=1)


df_total['n3mtch']=df_total.apply(lambda row:(numbers[row['n3']]['General']['historic'][row['ID']-1])[0], axis=1)
df_total['n3frq']=df_total.apply(lambda row:(numbers[row['n3']]['General']['historic'][row['ID']-1])[1], axis=1)
df_total['3frnormal']=df_total.apply(lambda row: int(1) if(row['n3frq']>df_total['n3frq'].quantile(0.25)) and (row['n3frq']<df_total['n3frq'].quantile(0.75)) else int(0) ,axis=1)
df_total['n3_last']=df_total.apply(lambda row:(numbers[row['n3']]['General']['historic'][row['ID']-1])[3], axis=1)
df_total['n3_last_diff']=df_total.apply(lambda row:(numbers[row['n3']]['General']['historic'][row['ID']-1])[4], axis=1)
#df_total['n3_last_diff']=df_total.apply(lambda row:(numbers[row['n3']]['General']['historic'][row['ID']-1])[4], axis=1)

df_total['n4mtch']=df_total.apply(lambda row:(numbers[row['n4']]['General']['historic'][row['ID']-1])[0], axis=1)
df_total['n4frq']=df_total.apply(lambda row:(numbers[row['n4']]['General']['historic'][row['ID']-1])[1], axis=1)
df_total['4frnormal']=df_total.apply(lambda row: int(1) if(row['n4frq']>df_total['n4frq'].quantile(0.25)) and (row['n4frq']<df_total['n4frq'].quantile(0.75)) else int(0) ,axis=1)
df_total['n4_last']=df_total.apply(lambda row:(numbers[row['n4']]['General']['historic'][row['ID']-1])[3], axis=1)
df_total['n4_last_diff']=df_total.apply(lambda row:(numbers[row['n4']]['General']['historic'][row['ID']-1])[4], axis=1)
#df_total['n4_last_diff']=df_total.apply(lambda row:(numbers[row['n4']]['General']['historic'][row['ID']-1])[4], axis=1)


df_total['n5mtch']=df_total.apply(lambda row:(numbers[row['n5']]['General']['historic'][row['ID']-1])[0], axis=1)
df_total['n5frq']=df_total.apply(lambda row:(numbers[row['n5']]['General']['historic'][row['ID']-1])[1], axis=1)
df_total['5frnormal']=df_total.apply(lambda row: int(1) if(row['n5frq']>df_total['n5frq'].quantile(0.25)) and (row['n5frq']<df_total['n5frq'].quantile(0.75)) else int(0) ,axis=1)
df_total['n5_last']=df_total.apply(lambda row:(numbers[row['n5']]['General']['historic'][row['ID']-1])[3], axis=1)
df_total['n5_last_diff']=df_total.apply(lambda row:(numbers[row['n5']]['General']['historic'][row['ID']-1])[4], axis=1)
#df_total['n5_last_diff']=df_total.apply(lambda row:(numbers[row['n5']]['General']['historic'][row['ID']-1])[4], axis=1)


df_total['n6mtch']=df_total.apply(lambda row:(numbers[row['n6']]['General']['historic'][row['ID']-1])[0], axis=1)
df_total['n6frq']=df_total.apply(lambda row:(numbers[row['n6']]['General']['historic'][row['ID']-1])[1], axis=1)
df_total['6frnormal']=df_total.apply(lambda row: int(1) if(row['n6frq']>df_total['n6frq'].quantile(0.25)) and (row['n6frq']<df_total['n6frq'].quantile(0.75)) else int(0) ,axis=1)
df_total['n6_last']=df_total.apply(lambda row:(numbers[row['n6']]['General']['historic'][row['ID']-1])[3], axis=1)
df_total['n6_last_diff']=df_total.apply(lambda row:(numbers[row['n6']]['General']['historic'][row['ID']-1])[4], axis=1)
#df_total['n6_last_diff']=df_total.apply(lambda row:(numbers[row['n6']]['General']['historic'][row['ID']-1])[4], axis=1)

Por cuestiones de espacio y lectura, solo se expone el Modo Total

### Frecuencias_desviacion

In [55]:
qfreq1_total_mean=df_total['n1frq'].mean()
qfreq2_total_mean=df_total['n2frq'].mean()
qfreq3_total_mean=df_total['n3frq'].mean()
qfreq4_total_mean=df_total['n4frq'].mean()
qfreq5_total_mean=df_total['n5frq'].mean()
qfreq6_total_mean=df_total['n6frq'].mean()

print(f"50%_mean N1: {qfreq1_total_mean}")
print(f"50%_mean N2: {qfreq2_total_mean}")
print(f"50%_mean N3: {qfreq3_total_mean}")
print(f"50%_mean N4: {qfreq4_total_mean}")
print(f"50%_mean N5: {qfreq5_total_mean}")
print(f"50%_mean N6: {qfreq6_total_mean}")
print("-------------------------------------------------------------------------------------")
qfreq1_total_std=df_total['n1frq'].std()
qfreq2_total_std=df_total['n2frq'].std()
qfreq3_total_std=df_total['n3frq'].std()
qfreq4_total_std=df_total['n4frq'].std()
qfreq5_total_std=df_total['n5frq'].std()
qfreq6_total_std=df_total['n6frq'].std()



print(f"Desviac. N1: {qfreq1_total_std}")
print(f"Desviac. N2: {qfreq2_total_std}")
print(f"Desviac. N3: {qfreq3_total_std}")
print(f"Desviac. N4: {qfreq4_total_std}")
print(f"Desviac. N5: {qfreq5_total_std}")
print(f"Desviac. N6: {qfreq6_total_std}")
print("-------------------------------------------------------------------------------------")

qfreq1_total_max_std=round(qfreq1_total_mean + qfreq1_total_std,3) 
qfreq2_total_max_std=round(qfreq2_total_mean + qfreq2_total_std,3) 
qfreq3_total_max_std=round(qfreq3_total_mean + qfreq3_total_std,3) 
qfreq4_total_max_std=round(qfreq4_total_mean + qfreq4_total_std,3) 
qfreq5_total_max_std=round(qfreq5_total_mean + qfreq5_total_std,3) 
qfreq6_total_max_std=round(qfreq6_total_mean + qfreq6_total_std,3) 

qfreq1_total_min_std=round(qfreq1_total_mean - qfreq1_total_std,3) 
qfreq2_total_min_std=round(qfreq2_total_mean - qfreq2_total_std,3) 
qfreq3_total_min_std=round(qfreq3_total_mean - qfreq3_total_std,3) 
qfreq4_total_min_std=round(qfreq4_total_mean - qfreq4_total_std,3) 
qfreq5_total_min_std=round(qfreq5_total_mean - qfreq5_total_std,3) 
qfreq6_total_min_std=round(qfreq6_total_mean - qfreq6_total_std,3)

print(f"Entre Desviac. N1: {qfreq1_total_min_std} // {qfreq1_total_max_std} ")
print(f"Entre Desviac. N2: {qfreq2_total_min_std} // {qfreq2_total_max_std} ")
print(f"Entre Desviac. N3: {qfreq3_total_min_std} // {qfreq3_total_max_std} ")
print(f"Entre Desviac. N4: {qfreq4_total_min_std} // {qfreq4_total_max_std} ")
print(f"Entre Desviac. N5: {qfreq5_total_min_std} // {qfreq5_total_max_std} ")
print(f"Entre Desviac. N6: {qfreq6_total_min_std} // {qfreq6_total_max_std} ")

50%_mean N1: 0.13027419077134994
50%_mean N2: 0.13074591942148708
50%_mean N3: 0.13058078512396645
50%_mean N4: 0.1297878960055094
50%_mean N5: 0.13038984159779596
50%_mean N6: 0.13075301308539855
-------------------------------------------------------------------------------------
Desviac. N1: 0.01255687416884207
Desviac. N2: 0.013265277141046696
Desviac. N3: 0.012592274574509744
Desviac. N4: 0.011614165527365812
Desviac. N5: 0.01620621884652879
Desviac. N6: 0.01253320897607578
-------------------------------------------------------------------------------------
Entre Desviac. N1: 0.118 // 0.143
Entre Desviac. N2: 0.117 // 0.144
Entre Desviac. N3: 0.118 // 0.143
Entre Desviac. N4: 0.118 // 0.141
Entre Desviac. N5: 0.114 // 0.147
Entre Desviac. N6: 0.118 // 0.143

### Frecuencias_cuantiles

In [23]:
total_num_frequencies_array=[]
for index,row in df_total.iterrows():
    total_num_frequencies_array.append(row['n1frq'])
    total_num_frequencies_array.append(row['n2frq'])
    total_num_frequencies_array.append(row['n3frq'])
    total_num_frequencies_array.append(row['n4frq'])
    total_num_frequencies_array.append(row['n5frq'])
    total_num_frequencies_array.append(row['n6frq'])


total_num_freq_quantile_15=np.quantile(total_num_frequencies_array,0.15)
print(f"Cuantil de frecuencia 15% {total_num_freq_quantile_15}")
print(f"Cuantil de frecuencia 20% {np.quantile(total_num_frequencies_array,0.2)}")
total_num_freq_quantile_20=np.quantile(total_num_frequencies_array,0.2)
total_num_freq_quantile_30=np.quantile(total_num_frequencies_array,0.3)
print(f"Cuantil de frecuencia 30% {total_num_freq_quantile_30}")
total_num_freq_quantile_70=np.quantile(total_num_frequencies_array,0.7)
print(f"Cuantil de frecuencia 70% {total_num_freq_quantile_70}")
print(f"Cuantil de frecuencia 80% {np.quantile(total_num_frequencies_array,0.8)}")
total_num_freq_quantile_80=np.quantile(total_num_frequencies_array,0.8)
total_num_freq_quantile_85=np.quantile(total_num_frequencies_array,0.85)
print(f"Cuantil de frecuencia 85% {total_num_freq_quantile_85}")

total_num_freq_std=np.std(total_num_frequencies_array)
total_num_freq_mean=np.mean(total_num_frequencies_array)
total_num_freq_max_std= total_num_freq_std + total_num_freq_mean
total_num_freq_min_std= total_num_freq_mean - total_num_freq_std
print(f"Limites de Desviación standard: {round(total_num_freq_min_std,3)} // {round(total_num_freq_max_std,3)} ")

Cuartil de frecuencia 15% 0.1229
Cuartil de frecuencia 20% 0.1253
Cuartil de frecuencia 30% 0.1277
Cuartil de frecuencia 70% 0.1337
Cuartil de frecuencia 80% 0.1358
Cuartil de frecuencia 85% 0.1375
Limites de Desviación standard: 0.117 // 0.144

Eventos_en_series_por_rango_de_frecuencia

In [24]:
series_freq={}
series_freqII={}

for i in range (0,6+1):
    series_freq[i]=0
    series_freqII[i]=0


for index,row in df_total.iterrows():
    #print("*********** nueva serie ***************")
    sum1=0
    sum2=0
    for i in range (1,6+1):
        freqindex='n'+str(i)+'frq'
    
        if row[freqindex] > total_num_freq_quantile_20 and row[freqindex] < total_num_freq_quantile_80:
            sum1+=1
            #print(f'{row[freqindex]} <==> {sum1}')
            series_freq[sum1]+=1
        if row[freqindex] > total_num_freq_quantile_15 and row[freqindex] < total_num_freq_quantile_85:
            sum2+=1
            #print(f'{row[freqindex]} <==> {sum2}')
            series_freqII[sum2]+=1
        
            
for ii in range (0, 6+1):
    print(f"{series_freq[ii]} series con {ii} con números cuya frecuencia es {'mayor' if ii>0 else 'menor'} a {total_num_freq_quantile_20} y {'menor' if ii ==0 else 'mayor'} a {total_num_freq_quantile_80} ==> {(round(series_freq[ii]/len(df_total),2))*100}%")
        #df_total.count()
print("----------------------------------------------------------------------------------------------------------------------")    
    
for ii in range (0,6+1):    
    print(f"{series_freqII[ii]} series con {ii} con números cuya frecuencia es {'mayor' if ii>0 else 'menor'} a {total_num_freq_quantile_15} y {'menor' if ii ==0 else 'mayor'} a {total_num_freq_quantile_85} ==> {(round(series_freqII[ii]/len(df_total),2))*100}%")

0 series con 0 con números cuya frecuencia es menor a 0.1253 y menor a 0.1358 ==> 0.0%
5562 series con 1 con números cuya frecuencia es mayor a 0.1253 y mayor a 0.1358 ==> 96.0%
5152 series con 2 con números cuya frecuencia es mayor a 0.1253 y mayor a 0.1358 ==> 89.0%
4435 series con 3 con números cuya frecuencia es mayor a 0.1253 y mayor a 0.1358 ==> 76.0%
3288 series con 4 con números cuya frecuencia es mayor a 0.1253 y mayor a 0.1358 ==> 56.99999999999999%
1815 series con 5 con números cuya frecuencia es mayor a 0.1253 y mayor a 0.1358 ==> 31.0%
521 series con 6 con números cuya frecuencia es mayor a 0.1253 y mayor a 0.1358 ==> 9.0%
----------------------------------------------------------------------------------------------------------------------
0 series con 0 con números cuya frecuencia es menor a 0.1229 y menor a 0.1375 ==> 0.0%
5654 series con 1 con números cuya frecuencia es mayor a 0.1229 y mayor a 0.1375 ==> 97.0%
5395 series con 2 con números cuya frecuencia es mayor a 0.1229 y mayor a 0.1375 ==> 93.0%
4937 series con 3 con números cuya frecuencia es mayor a 0.1229 y mayor a 0.1375 ==> 85.0%
4190 series con 4 con números cuya frecuencia es mayor a 0.1229 y mayor a 0.1375 ==> 72.0%
2908 series con 5 con números cuya frecuencia es mayor a 0.1229 y mayor a 0.1375 ==> 50.0%
1195 series con 6 con números cuya frecuencia es mayor a 0.1229 y mayor a 0.1375 ==> 21.0%

## Series

In [25]:
def serie_addition(number, quartile1, quartile2):
    if number > quartile1 and number < quartile2:
        return 1
    else:
        return 0

In [26]:
def event_streak(dict, column):
    
    index=0
    previous=0
    results=[]
    for item in dict[column]:
        
    
        if item == 1:
            #text=("POSITIVO")
            if previous == 0 or previous <0:
                result=1
                #to_append=(index,result,text)
                results.append(result)
            else:
                result+=1
                #to_append=(index,result,text)
                results.append(result)
        else:
            
            if previous == 0 or previous >0:
                result= (-1)
                #text+=(", corta racha")
                #to_append=(index,result,text)
                results.append(result)
            else:
                result+=(-1)
                
                results.append(result)    
    
        index+=1
        previous=result
    
    return results

### Sumatoria

#### Sumatoria_conclusiones

In [28]:
add_quant_30_70=len(df_total.loc[(df_total['add']>=df_total['add'].quantile(0.3)) & (df_total['add']<=df_total['add'].quantile(0.7))]) 
print(f"$add_quant_30_70: {add_quant_30_70} entre {df_total['add'].quantile(0.3)} // {df_total['add'].quantile(0.7)} ==> {round((add_quant_30_70/df_total['add'].count())*100,2)}%")
add_quant_20_80=len(df_total.loc[(df_total['add']>=df_total['add'].quantile(0.2)) & (df_total['add']<=df_total['add'].quantile(0.8))]) 
print(f"$add_quant_20_80: {add_quant_20_80} entre {df_total['add'].quantile(0.2)} // {df_total['add'].quantile(0.8)} ==> {round((add_quant_20_80/df_total['add'].count())*100,2)}%")
add_quant_15_85=len(df_total.loc[(df_total['add']>=df_total['add'].quantile(0.15)) & (df_total['add']<=df_total['add'].quantile(0.85))]) 
print(f"$add_quant_15_85: {add_quant_15_85} entre {df_total['add'].quantile(0.15)} // {df_total['add'].quantile(0.85)} ==> {round((add_quant_15_85/df_total['add'].count())*100,2)}%")

a_std=df_total['add'].std()
print(f"Desviación standart: {round(a_std,1)}")
a_m=df_total['add'].mean()
print(f"Valor medio de la sumatoria: {round(a_m,1)}")
print(f"Rango entre la resta de la desviac. std {round(a_m - a_std,1)} // y la suma de la desviac. std  {round(a_m + a_std,1)}")


add_std=len(df_total.loc[(df_total['add'] >= (a_m - a_std)) & (df_total['add']<= (a_m + a_std ))])
print(f"$add_std: {add_std} entre {round(a_m - a_std,1)} y {round(a_m + a_std,1)}  ==>> {round((add_std/df_total['add'].count())*100,2)}%")

$add_quant_30_70: 2389 entre 117.0 // 151.0 ==> 41.13%
$add_quant_20_80: 3542 entre 107.0 // 161.0 ==> 60.98%
$add_quant_15_85: 4141 entre 101.0 // 168.0 ==> 71.3%
Desviación standart: 31.3
Valor medio de la sumatoria: 134.4
Rango entre la resta de la desviac. std 103.0 // y la suma de la desviac. std  165.7
$add_std: 3891 entre 103.0 y 165.7  ==>> 66.99%

Fxs_con_grupos

In [29]:
def get_group_elements(serie, group):
    count=0
    y_n=0
    for num in serie:
        if mf.is_number_in(num,group):
            count+=1
    
    if count>0:
        y_n=1
    
    return [count,y_n]

In [30]:
def get_group_frequency(dataframe_rows, elements,serie_id):
    #dataframe_dict=> Total, Revancha, Segunda, SS
    
    #serie_id ==> debe ser el sorteo actual (a diferencia de la frecuencia con los nros o con las posiciones de ranking)
    #la explicación está en la iteración en el for...
    
    
    #matches refiere la celda de matches del grupo de la serie anterior
    count=0
    
    for i in range(1, serie_id):  #==> $i representa el dataframe_rows[1]
        serie= dataframe_rows[i]['serie']
        for num in serie:
            if mf.is_number_in(num, elements):
                count+=1
        
    freq=round((count/serie_id-1),3)
    return (count, freq)

In [31]:
def repeated_numbers(dict,r):  #r es el intervalo de filas...
    results=[]
    fx_result=[]
    
    for i in range (len(dict)):
        if i==0 or (i-r) < 0:
            y_n=0
            count=0
            streak=-1
            results_to_append=[count, y_n ,streak]
            results.append(results_to_append)
            fx_result.append(results_to_append)
            results=[]
        else:
            count=get_group_elements(dict.loc[i, 'serie'], dict.loc[i-r, 'serie'])[0]
            y_n=get_group_elements(dict.loc[i, 'serie'], dict.loc[i-r, 'serie'])[1]
            
            if y_n==1:
                if streak > 0:
                    streak+=1
                elif streak < 0:
                    streak=1
            else:
                if streak > 0:
                    streak= (-1)
                elif streak < 0:
                    streak += (-1)
            
            results_to_append=[count, y_n ,streak]
            results.append(results_to_append)
            fx_result.append(results_to_append)
            results=[]
    
    #print(fx_result)
    return fx_result

In [32]:
def consec_interrows(dict): #explicación: esta fx busca los nros consecutivos entre 2 sorteos consecutivos (desviación 0.5)
    fx_result=[]
    nums_to_consider=[]
    
    for i in range (len(dict)):
        if i==0:
            y_n=0
            count=0
            streak=-1
            results_to_append=[count, y_n ,streak]
            #results.append(results_to_append)
            fx_result.append(results_to_append)
            fx_results=[]
        else:
            serie= dict.loc[i, 'serie']
            prev_serie= dict.loc[i-1, 'serie']
            
            for num in serie:
                if mf.is_number_in(num-1, prev_serie):
                    y_n=1
                    count+=1
                    if mf.is_number_in(num-1, nums_to_consider) == False:
                        nums_to_consider.append(num-1)
                        
                if mf.is_number_in(num+1, prev_serie):
                    y_n=1
                    count+=1
                    if mf.is_number_in(num+1, nums_to_consider) == False:
                        nums_to_consider.append(num+1)
                    
            #count=get_group_elements(dict.loc[i, 'serie'], dict.loc[i-1, 'serie'])[0]
            #y_n=get_group_elements(dict.loc[i, 'serie'], dict.loc[i-1, 'serie'])[1]
            
            if y_n==1:
                if streak > 0:
                    streak+=1
                elif streak < 0:
                    streak=1
            else:
                if streak > 0:
                    streak= (-1)
                elif streak < 0:
                    streak += (-1)
            
            results_to_append=[count, y_n ,streak]#nums_to_consider]
            #results.append(results_to_append)
            fx_result.append(results_to_append) #--> el resultado está asociado al índice de la fila...
            #fx_results=[]
            y_n=0
            count=0
    #print(fx_result)
    return fx_result

In [33]:
def new_repeated_numbers(row_dict, dataframe):
    
    
    
    row_id=row_dict['ID']
    serie=row_dict['serie']
    acumulate=0
    
    if row_id <= 1:
        return acumulate
    else:
        
        previous=dataframe.loc[row_id-2, 'serie']
        
        for x in serie:
            for y in previous:
                if x==y:
                    acumulate+=1
                    
        return acumulate

In [34]:
def desv_in_serie(serie, dict):
    
    #streak=0
    #consecutives=0 redundante, len(consec_num)
    
    desv_indexes=['desv.1-2', 'desv.2-3', 'desv.3-4', 'desv.4-5','desv.5-6']
    
    #desv_indexes=['desv.0-1','desv.1-2', 'desv.2-3', 'desv.3-4', 'desv.4-5','desv.5-6', 'desv.6-45']
    normal=0
    big_desv=0
    big_desv_pos=[]
    consec_num=[]
    consec_groups=0
    atipical_desv=0
    
    for i in range (len(serie)):
        
        
        if i ==0:
            
            previous= serie[i]
            #index=desv_indexes[i]
        else:
            tuple_pair=(previous, serie[i])
            #index=desv_indexes[i-1]
            
            index=desv_indexes[i-1]

            div_big_huge=dict[index].quantile(0.75)+(dict[index].quantile(0.75)+(dict[index].quantile(0.75)/2))
            
            #print(row[index])
            if np.std((previous, serie[i])) == 0.5: #una desviación de 0.5 significa que los números son consecutivos
                
                if len(consec_num) ==0: #es el primer par de nros consecutivos
                    consec_num.append(previous)
                    consec_num.append(serie[i])
                    #consecutives=2
                    consec_groups+=1
                else:
                    if mf.is_number_in(previous, consec_num)==True: #si $previous ya está, significa que es un grupo de 3 o más
                        consec_num.append(serie[i])
                        #no se agrega otro par, es parte del mismo...
                    else: #es False... si $previous no está en el list, es un par de consecutivos nuevo
                        consec_num.append(previous)
                        consec_num.append(serie[i])
                        consec_groups+=1
                        
            elif np.std(tuple_pair) > dict[index].quantile(0.75) and np.std(tuple_pair) <= div_big_huge: #es un intervalo grando o uno enorme...         
                #if np.std(tuple_pair) <= div_big_huge:
                #print(f"la desv de la tupla ({tuple_pair}) es: {np.std(tuple_pair)} es mayor al quantil 75 ({dict[index].quantile(0.75)})")
                #print(f"... pero es menor o igual al valor de $div_big_huge: {div_big_huge}. Es un intervalo grande")
                big_desv+=1
                big_desv_pos.append(i)
                #big_desv_pos.append(index)
            
            elif np.std(tuple_pair) > dict[index].quantile(0.75) and np.std(tuple_pair) > div_big_huge:
                #if np.std((previous, serie[i])) >= 7.0:   ---> 4/2/23: No se pueden considerar valores absolutos ya que la magnitud
                                                            #de los intervalos cambia en cada caso
                #print(f"la desv de la tupla ({tuple_pair}) es: {np.std(tuple_pair)} es mayor al quantil 75 ({dict[index].quantile(0.75)})")
                #print(f"y es mayor al valor de $div_big_huge: {div_big_huge}. Es un intervalo enorme")
                atipical_desv +=1
            #elif np.std((previous, serie[i])) >= 7.0:
            #    print(f'Mayor o igual a 7.0: {np.std((previous, serie[i]))}')
            #    atipical_desv +=1
                
            #else:
                #print(f'NO es Mayor o igual a 7.0: {np.std((previous, serie[i]))}')
            
            elif np.std((previous, serie[i])) >= 1.0 and np.std((previous, serie[i])) <= dict[index].quantile(0.75): #el intervalo es normal...
                normal+=1

                
            previous= serie[i]

    results=[]
    results.append(len(consec_num)) #[0]--> cantidad de nros consecutivos
    results.append(consec_groups)  #[1] --> series de consecutivos... si es un par o es una serie de 4 consecutivos, o 2 pares...
    results.append(normal)          #[2]--> cantidad de intervalos normales en la serie (entre 1 y 9)* *9 es un nro dinámico...
    results.append(big_desv)        #[3]--> cantidad de intervalos fuera de lo normal...
    results.append(big_desv_pos)    #[4]--> es una lista... es para otra fx que determinen dónde están los intervalos
    results.append(atipical_desv)   #[5]--> señala cuantos intervalos atípicos hay
    return results

### Consecutivos_en_una_Serie

In [35]:
df_total['desv.1-2']= df_total.apply(lambda row: np.std([row['n1'],row['n2']]),axis=1)
#print(df_total['desv.1-2'])
#print(df_total['desv.1-2'].quantile(0.8))
df_total['desvbig1-2']=df_total.apply(lambda row: int(1) if row['desv.1-2'] > df_total['desv.1-2'].quantile(0.8) else int(0), axis=1)
#df_total['desvbig1-2']=df_total.apply(lambda row: int(1) if df_total['desv.1-2'].all() > (df_total['desv.1-2'].quantile(0.8)) else int(0), axis=1)
#df_total['desvbig1-2']=df_total.apply(lambda row: int(1) if (desv_in_serie(row['serie'], df_total))[4] == 0 else int(0), axis=1)
df_total['desv.2-3']= df_total.apply(lambda row: np.std([row['n2'],row['n3']]) ,axis=1)
df_total['desvbig2-3']=df_total.apply(lambda row: int(1) if row['desv.2-3'] > df_total['desv.2-3'].quantile(0.8) else int(0), axis=1)
#df_total['desvbig2-3']=df_total.apply(lambda row: int(1) if (desv_in_serie(row['serie'], df_total))[4] == 1 else int(0), axis=1)
df_total['desv.3-4']= df_total.apply(lambda row: np.std([row['n3'],row['n4']]) ,axis=1)
df_total['desvbig3-4']=df_total.apply(lambda row: int(1) if row['desv.3-4'] > df_total['desv.3-4'].quantile(0.8) else int(0), axis=1)
#df_total['desvbig3-4']=df_total.apply(lambda row: int(1) if (desv_in_serie(row['serie'], df_total))[4] == 2 else int(0), axis=1)
df_total['desv.4-5']= df_total.apply(lambda row: np.std([row['n4'],row['n5']]) ,axis=1)
df_total['desvbig4-5']=df_total.apply(lambda row: int(1) if row['desv.4-5'] > df_total['desv.4-5'].quantile(0.8) else int(0), axis=1)
#df_total['desvbig4-5']=df_total.apply(lambda row: int(1) if (desv_in_serie(row['serie'], df_total))[4] == 3 else int(0), axis=1)
df_total['desv.5-6']= df_total.apply(lambda row: np.std([row['n5'],row['n6']]) ,axis=1)
df_total['desvbig5-6']=df_total.apply(lambda row: int(1) if row['desv.5-6'] > df_total['desv.5-6'].quantile(0.8) else int(0), axis=1)
#df_total['desvbig5-6']=df_total.apply(lambda row: int(1) if (desv_in_serie(row['serie'], df_total))[4] == 4 else int(0), axis=1)
df_total['d_big_pl']=df_total.apply(lambda row: (desv_in_serie(row['serie'], df_total))[4], axis=1)

###### Consec_matches

In [36]:
df_total['consec']=df_total.apply(lambda row:(desv_in_serie(row['serie'], df_total))[0], axis=1)
df_total['consec_pairs']=df_total.apply(lambda row:(desv_in_serie(row['serie'], df_total))[1], axis=1)
#df_tradicional['consec']=df_tradicional.apply(lambda row:(desv_in_serie(row['serie'], df_total))[0], axis=1)
#df_tradicional['consec_pairs']=df_tradicional.apply(lambda row:(desv_in_serie(row['serie'], df_total))[1], axis=1)
#df_segunda['consec']=df_segunda.apply(lambda row:(desv_in_serie(row['serie'], df_total))[0], axis=1)
#df_segunda['consec_pairs']=df_segunda.apply(lambda row:(desv_in_serie(row['serie'], df_total))[1], axis=1)
#df_revancha['consec']=df_revancha.apply(lambda row:(desv_in_serie(row['serie'], df_total))[0], axis=1)
#df_revancha['consec_pairs']=df_revancha.apply(lambda row:(desv_in_serie(row['serie'], df_total))[1], axis=1)
#df_ss['consec']=df_ss.apply(lambda row:(desv_in_serie(row['serie'], df_total))[0], axis=1)
#df_ss['consec_pairs']=df_ss.apply(lambda row:(desv_in_serie(row['serie'], df_total))[1], axis=1)

In [37]:
df_total['consec_y_n'] = df_total['consec'].apply(lambda row: 1 if row >= 2 else 0)

In [38]:
df_total_consec_x_serie= round(df_total['consec'].sum()/df_total['consec'].count(),2)
print(f'Consecutivos totales ==> $df_total_consec_x_serie: {df_total_consec_x_serie}')

Consecutivos totales ==> $df_total_consec_x_serie: 1.25

In [39]:
series_con_consec_total=len(df_total.loc[df_total['consec']>1])
series_sin_consec_total=len(df_total.loc[df_total['consec']<=1])

print(f"{series_con_consec_total} series q tienen al menos 2 nros. consecutivos entre sí => {round((series_con_consec_total/df_total['consec'].count())*100,2)}%")
print(f"{series_sin_consec_total} series NO tienen NINGÚN número consecutivo => {round((series_sin_consec_total/df_total['consec'].count())*100,2)}%")

print("----------------------------------------------------------------------------------------------------------------------")

consec_quant_pair_total={}

consec_quant_pair_total['0_0']= series_sin_consec_total
print(f"{consec_quant_pair_total['0_0']} series NO tienen NINGÚN número consecutivo => {round((consec_quant_pair_total['0_0']/df_total['consec'].count())*100,2)}%")

consec_quant_pair_total['2_1']=len(df_total.loc[df_total['consec']==2])
print(f"{consec_quant_pair_total['2_1']} series tienen 2 nros consecutivos en 1 par=>> {round((consec_quant_pair_total['2_1']/ df_total['consec'].count())*100,2)}%")

consec_quant_pair_total['3_1']=len(df_total.loc[(df_total['consec']==3)&(df_total['consec_pairs']==1)])
print(f"{consec_quant_pair_total['3_1']} series tienen 3 nros consecutivos en 1 par=>> {round((consec_quant_pair_total['3_1']/ df_total['consec'].count())*100,2)}%")

consec_quant_pair_total['4_1']=len(df_total.loc[(df_total['consec']==4)&(df_total['consec_pairs']==1)])
print(f"{consec_quant_pair_total['4_1']} series tienen 4 nros consecutivos en 1 par=>> {round((consec_quant_pair_total['4_1']/ df_total['consec'].count())*100,2)}%")                                             

consec_quant_pair_total['5_1']=len(df_total.loc[(df_total['consec']==5)&(df_total['consec_pairs']==1)])
print(f"{consec_quant_pair_total['5_1']} series tienen 5 nros consecutivos en 1 par=>> {round((consec_quant_pair_total['5_1']/ df_total['consec'].count())*100,2)}%") 

consec_quant_pair_total['6_1']=len(df_total.loc[(df_total['consec']==6)&(df_total['consec_pairs']==1)])
print(f"{consec_quant_pair_total['6_1']} series tienen 6 nros consecutivos en 1 par=>> {round((consec_quant_pair_total['6_1']/ df_total['consec'].count())*100,2)}%")                      

print("============== 2 pares ==============================")

consec_quant_pair_total['3_2']=len(df_total.loc[(df_total['consec']==3)&(df_total['consec_pairs']==2)])
print(f"{consec_quant_pair_total['3_2']} series tienen 3 nros consecutivos en 2 pares (que está mal)=>> {round((consec_quant_pair_total['3_2']/ df_total['consec'].count())*100,2)}%")

consec_quant_pair_total['4_2']=len(df_total.loc[(df_total['consec']==4)&(df_total['consec_pairs']==2)])
print(f"{consec_quant_pair_total['4_2']} series tienen 4 nros consecutivos en 2 pares=>> {round((consec_quant_pair_total['4_2']/ df_total['consec'].count())*100,2)}%")                                             

consec_quant_pair_total['5_2']=len(df_total.loc[(df_total['consec']==5)&(df_total['consec_pairs']==2)])
print(f"{consec_quant_pair_total['5_2']} series tienen 5 nros consecutivos en 2 'pares'=>> {round((consec_quant_pair_total['5_2']/ df_total['consec'].count())*100,2)}%") 

consec_quant_pair_total['6_2']=len(df_total.loc[(df_total['consec']==6)&(df_total['consec_pairs']==2)])
print(f"{consec_quant_pair_total['6_2']} series tienen 6 nros consecutivos en 2 'pares'=>> {round((consec_quant_pair_total['6_2']/ df_total['consec'].count())*100,2)}%")                      

print("============== 3 pares ==============================")

consec_quant_pair_total['4_3']=len(df_total.loc[(df_total['consec']==4)&(df_total['consec_pairs']==3)])
print(f"{consec_quant_pair_total['4_3']} series tienen 4 nros consecutivos en 3 pares (que está mal)=>> {round((consec_quant_pair_total['4_3']/ df_total['consec'].count())*100,2)}%")                                             

consec_quant_pair_total['5_3']=len(df_total.loc[(df_total['consec']==5)&(df_total['consec_pairs']==3)])
print(f"{consec_quant_pair_total['5_3']} series tienen 5 nros consecutivos en 3 'pares' (que está mal)=>> {round((consec_quant_pair_total['5_3']/ df_total['consec'].count())*100,2)}%") 

consec_quant_pair_total['6_3']=len(df_total.loc[(df_total['consec']==6)&(df_total['consec_pairs']==3)])
print(f"{consec_quant_pair_total['6_3']} series tienen 6 nros consecutivos en 3 'pares'=>> {round((consec_quant_pair_total['6_3']/ df_total['consec'].count())*100,2)}%")

3026 series q tienen al menos 2 nros. consecutivos entre sí => 52.1%
2782 series NO tienen NINGÚN número consecutivo => 47.9%
----------------------------------------------------------------------------------------------------------------------
2782 series NO tienen NINGÚN número consecutivo => 47.9%
2314 series tienen 2 nros consecutivos en 1 par=>> 39.84%
248 series tienen 3 nros consecutivos en 1 par=>> 4.27%
23 series tienen 4 nros consecutivos en 1 par=>> 0.4%
0 series tienen 5 nros consecutivos en 1 par=>> 0.0%
0 series tienen 6 nros consecutivos en 1 par=>> 0.0%
============== 2 pares ==============================
0 series tienen 3 nros consecutivos en 2 pares (que está mal)=>> 0.0%
403 series tienen 4 nros consecutivos en 2 pares=>> 6.94%
27 series tienen 5 nros consecutivos en 2 'pares'=>> 0.46%
2 series tienen 6 nros consecutivos en 2 'pares'=>> 0.03%
============== 3 pares ==============================
0 series tienen 4 nros consecutivos en 3 pares (que está mal)=>> 0.0%
0 series tienen 5 nros consecutivos en 3 'pares' (que está mal)=>> 0.0%
9 series tienen 6 nros consecutivos en 3 'pares'=>> 0.15%

### Repetidos_entre_Series

In [40]:
df_total['rep_nums']=df_total.apply(lambda row: new_repeated_numbers(row, df_total), axis=1)
df_total['rep_nums_y_n']=df_total.apply(lambda row: int(1) if row['rep_nums']>=1 else int(0), axis=1)
df_total['rep_nums_hist']= df_total['rep_nums_y_n'].cumsum()

rep_nums_view_indexes=['rep_nums', 'rep_nums_y_n', 'rep_nums_hist']
#---------------------------------------------------------------------------------------------------

periods=[10,20,30,50,100]
for p in periods:
    
    index='rep_nums_r_' + str(p)
    df_total[index] = df_total['rep_nums_hist'] - df_total['rep_nums_hist'].shift(p)
    rep_nums_view_indexes.append(index)
    index_exp= index + '_exp'
    df_total[index_exp] = round((df_total['rep_nums_hist']*p)/df_total['ID'] ,1)
    rep_nums_view_indexes.append(index_exp)
    index_diff= index + '_diff'
    df_total[index_diff] = df_total[index] - df_total [index_exp]
    rep_nums_view_indexes.append(index_diff)

Repetidos_result

In [41]:
total_series_repetidos_1f=len(df_total.loc[df_total['rep_nums']>=1])
print(f"{total_series_repetidos_1f} series q tienen al menos 1 número repetido con la fila anterior => {round((total_series_repetidos_1f/df_total['rep_nums'].count())*100,2)}%")
total_series_no_repetidos_1f=len(df_total.loc[df_total['rep_nums']==0])
print(f"{total_series_no_repetidos_1f} series q NO tienen al menos 1 número repetido con la fila anterior => {round((total_series_no_repetidos_1f/df_total['rep_nums'].count())*100,2)}%")
print("------------------------------------------------------------------------------------------------------------------------------------------------------------")

total_repetidos_x_cant={}

for i in range(0,6+1):
    total_repetidos_x_cant[i]=len(df_total.loc[df_total['rep_nums']==i])
    print(f"{total_repetidos_x_cant[i]} series q tienen {i} números repetidos con la fila anterior => {round((total_repetidos_x_cant[i]/df_total['rep_nums'].count())*100,2)}%")

3407 series q tienen al menos 1 número repetido con la fila anterior => 58.66%
2401 series q NO tienen al menos 1 número repetido con la fila anterior => 41.34%
------------------------------------------------------------------------------------------------------------------------------------------------------------
2401 series q tienen 0 números repetidos con la fila anterior => 41.34%
2457 series q tienen 1 números repetidos con la fila anterior => 42.3%
813 series q tienen 2 números repetidos con la fila anterior => 14.0%
129 series q tienen 3 números repetidos con la fila anterior => 2.22%
8 series q tienen 4 números repetidos con la fila anterior => 0.14%
0 series q tienen 5 números repetidos con la fila anterior => 0.0%
0 series q tienen 6 números repetidos con la fila anterior => 0.0%

## Grupos

Grupos (pares, impares || primos, no primos)

In [42]:
##################################Pares##########################################################################
df_total['pairs']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), q6.pairs)[0],axis=1)                                                                                                            
df_total['pairs_yn']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), q6.pairs)[1], axis=1)
df_total['pairs_hist']=df_total['pairs'].cumsum() #=> señala como queda el acumulado
#df_total['pairs_freq']=str(df_total['pairs'].shift(1)) + "/" + str(df_total['ID'].shift(1))
df_total['pairs_freq']=round((df_total['pairs_hist'].shift(1)/df_total['ID'].shift(1)),3)  #=> .shift(1) toma los valores de la fila anterior

#df_total['pairs_r10']=df_total['pairs_hist'].shift(10) --> si no se entiende la resta, PROBAR CON ESTA LINEA
df_total['pairs_r10']=(df_total['pairs_hist'] - df_total['pairs_hist'].shift(10)) #=>OK!
df_total['pairs_r10_exp']=round((df_total['pairs_hist']*10)/df_total['ID'],0)
df_total['diff_pairs_r10']=df_total['pairs_r10'] - (df_total['pairs_r10_exp'])

df_total['pairs_r20']=(df_total['pairs_hist'] - df_total['pairs_hist'].shift(20)) #=>OK!
df_total['pairs_r20_exp']=round((df_total['pairs_hist']*20)/df_total['ID'],0)
df_total['diff_pairs_r20']=df_total['pairs_r20'] - (df_total['pairs_r20_exp'])

df_total['pairs_r30']=(df_total['pairs_hist'] - df_total['pairs_hist'].shift(30)) #=>OK!
df_total['pairs_r30_exp']=round((df_total['pairs_hist']*30)/df_total['ID'],0)
df_total['diff_pairs_r30']=df_total['pairs_r30'] - (df_total['pairs_r30_exp'])

df_total['pairs_r50']=(df_total['pairs_hist'] - df_total['pairs_hist'].shift(50)) #=>OK!
df_total['pairs_r50_exp']=round((df_total['pairs_hist']*50)/df_total['ID'],0)
df_total['diff_pairs_r50']=df_total['pairs_r50'] - (df_total['pairs_r50_exp'])

df_total['pairs_r100']=(df_total['pairs_hist'] - df_total['pairs_hist'].shift(100)) #=>OK!
df_total['pairs_r100_exp']=round((df_total['pairs_hist']*100)/df_total['ID'],0)
df_total['diff_pairs_r100']=df_total['pairs_r100'] - (df_total['pairs_r100_exp'])

################################Impares#########################################################################
df_total['unpairs']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), q6.unpairs)[0],axis=1)                                                                                                            
df_total['unpairs_yn']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), q6.unpairs)[1], axis=1)
df_total['unpairs_hist']=df_total['unpairs'].cumsum() #=> señala como queda el acumulado
#df_total['unpairs_freq']=str(df_total['unpairs'].shift(1)) + "/" + str(df_total['ID'].shift(1))
df_total['unpairs_freq']=round((df_total['unpairs_hist'].shift(1)/df_total['ID'].shift(1)),3)  #=> .shift(1) toma los valores de la fila anterior

df_total['unpairs_r10']=(df_total['unpairs_hist'] - df_total['unpairs_hist'].shift(10)) #=>OK!
df_total['unpairs_r10_exp']=round((df_total['unpairs_hist']*10)/df_total['ID'],0)
df_total['diff_unpairs_r10']=df_total['unpairs_r10'] - (df_total['unpairs_r10_exp'])

df_total['unpairs_r20']=(df_total['unpairs_hist'] - df_total['unpairs_hist'].shift(20)) #=>OK!
df_total['unpairs_r20_exp']=round((df_total['unpairs_hist']*20)/df_total['ID'],0)
df_total['diff_unpairs_r20']=df_total['unpairs_r20'] - (df_total['unpairs_r20_exp'])

df_total['unpairs_r30']=(df_total['unpairs_hist'] - df_total['unpairs_hist'].shift(30)) #=>OK!
df_total['unpairs_r30_exp']=round((df_total['unpairs_hist']*30)/df_total['ID'],0)
df_total['diff_unpairs_r30']=df_total['unpairs_r30'] - (df_total['unpairs_r30_exp'])

df_total['unpairs_r50']=(df_total['unpairs_hist'] - df_total['unpairs_hist'].shift(50)) #=>OK!
df_total['unpairs_r50_exp']=round((df_total['unpairs_hist']*50)/df_total['ID'],0)
df_total['diff_unpairs_r50']=df_total['unpairs_r50'] - (df_total['unpairs_r50_exp'])

df_total['unpairs_r100']=(df_total['unpairs_hist'] - df_total['unpairs_hist'].shift(100)) #=>OK!
df_total['unpairs_r100_exp']=round((df_total['unpairs_hist']*100)/df_total['ID'],0)
df_total['diff_unpairs_r100']=df_total['unpairs_r100'] - (df_total['unpairs_r100_exp'])

########################################### NO Primos##################################################
df_total['non_primes']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), q6.non_primes)[0],axis=1)                                                                                                            
df_total['non_primes_yn']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), q6.non_primes)[1], axis=1)
df_total['non_primes_hist']=df_total['non_primes'].cumsum() #=> señala como queda el acumulado
#df_total['non_primes_freq']=str(df_total['non_primes'].shift(1)) + "/" + str(df_total['ID'].shift(1))
df_total['non_primes_freq']=round((df_total['non_primes_hist'].shift(1)/df_total['ID'].shift(1)),3)  #=> .shift(1) toma los valores de la fila anterior

df_total['non_primes_r10']=(df_total['non_primes_hist'] - df_total['non_primes_hist'].shift(10)) #=>OK!
df_total['non_primes_r10_exp']=round((df_total['non_primes_hist']*10)/df_total['ID'],0)
df_total['diff_non_primes_r10']=df_total['non_primes_r10'] - (df_total['non_primes_r10_exp'])

df_total['non_primes_r20']=(df_total['non_primes_hist'] - df_total['non_primes_hist'].shift(20)) #=>OK!
df_total['non_primes_r20_exp']=round((df_total['non_primes_hist']*20)/df_total['ID'],0)
df_total['diff_non_primes_r20']=df_total['non_primes_r20'] - (df_total['non_primes_r20_exp'])

df_total['non_primes_r30']=(df_total['non_primes_hist'] - df_total['non_primes_hist'].shift(30)) #=>OK!
df_total['non_primes_r30_exp']=round((df_total['non_primes_hist']*30)/df_total['ID'],0)
df_total['diff_non_primes_r30']=df_total['non_primes_r30'] - (df_total['non_primes_r30_exp'])

df_total['non_primes_r50']=(df_total['non_primes_hist'] - df_total['non_primes_hist'].shift(50)) #=>OK!
df_total['non_primes_r50_exp']=round((df_total['non_primes_hist']*50)/df_total['ID'],0)
df_total['diff_non_primes_r50']=df_total['non_primes_r50'] - (df_total['non_primes_r50_exp'])

df_total['non_primes_r100']=(df_total['non_primes_hist'] - df_total['non_primes_hist'].shift(100)) #=>OK!
df_total['non_primes_r100_exp']=round((df_total['non_primes_hist']*100)/df_total['ID'],0)
df_total['diff_non_primes_r100']=df_total['non_primes_r100'] - (df_total['non_primes_r100_exp'])

############################################# PRIMOS #######################################################
df_total['primes']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), q6.primes)[0],axis=1)                                                                                                            
df_total['primes_yn']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), q6.primes)[1], axis=1)
df_total['primes_hist']=df_total['primes'].cumsum() #=> señala como queda el acumulado
#df_total['primes_freq']=str(df_total['primes'].shift(1)) + "/" + str(df_total['ID'].shift(1))
df_total['primes_freq']=round((df_total['primes_hist'].shift(1)/df_total['ID'].shift(1)),3)  #=> .shift(1) toma los valores de la fila anterior

df_total['primes_r10']=(df_total['primes_hist'] - df_total['primes_hist'].shift(10)) #=>OK!
df_total['primes_r10_exp']=round((df_total['primes_hist']*10)/df_total['ID'],0)
df_total['diff_primes_r10']=df_total['primes_r10'] - (df_total['primes_r10_exp'])

df_total['primes_r20']=(df_total['primes_hist'] - df_total['primes_hist'].shift(20)) #=>OK!
df_total['primes_r20_exp']=round((df_total['primes_hist']*20)/df_total['ID'],0)
df_total['diff_primes_r20']=df_total['primes_r20'] - (df_total['primes_r20_exp'])

df_total['primes_r30']=(df_total['primes_hist'] - df_total['primes_hist'].shift(30)) #=>OK!
df_total['primes_r30_exp']=round((df_total['primes_hist']*30)/df_total['ID'],0)
df_total['diff_primes_r30']=df_total['primes_r30'] - (df_total['primes_r30_exp'])

df_total['primes_r50']=(df_total['primes_hist'] - df_total['primes_hist'].shift(50)) #=>OK!
df_total['primes_r50_exp']=round((df_total['primes_hist']*50)/df_total['ID'],0)
df_total['diff_primes_r50']=df_total['primes_r50'] - (df_total['primes_r50_exp'])

df_total['primes_r100']=(df_total['primes_hist'] - df_total['primes_hist'].shift(100)) #=>OK!
df_total['primes_r100_exp']=round((df_total['primes_hist']*100)/df_total['ID'],0)
df_total['diff_primes_r100']=df_total['primes_r100'] - (df_total['primes_r100_exp'])

In [54]:
df_total.iloc[601:701].loc[:,['ID','serie', 'pairs','pairs_yn','pairs_hist', 'pairs_freq']]#,'pairs_r10','pairs_r10_exp' ,'pairs_r50' ,'pairs_r50_exp' ,'diff_pairs_r50','pairs_r100' ,'pairs_r100_exp' ,'diff_pairs_r100']]

      ID                     serie  pairs  pairs_yn  pairs_hist  pairs_freq
601  602    [1, 6, 11, 22, 29, 36]      3         1        1772       2.943
602  603    [1, 2, 11, 26, 30, 42]      4         1        1776       2.944
603  604     [0, 3, 6, 23, 30, 31]      3         1        1779       2.945
604  605  [12, 21, 31, 32, 34, 36]      4         1        1783       2.945
605  606     [2, 7, 8, 16, 23, 28]      4         1        1787       2.947
..   ...                       ...    ...       ...         ...         ...
696  697    [5, 6, 22, 25, 34, 35]      3         1        2047       2.937
697  698    [2, 7, 12, 14, 25, 27]      3         1        2050       2.937
698  699    [4, 9, 13, 21, 28, 31]      2         1        2052       2.937
699  700     [1, 5, 7, 17, 30, 36]      2         1        2054       2.936
700  701   [6, 15, 23, 38, 43, 44]      3         1        2057       2.934

[100 rows x 6 columns]

In [44]:
df_series_c_pares=len(df_total.loc[df_total['pairs_yn']==1])
df_series_s_pares=len(df_total.loc[df_total['pairs_yn']==0])
print(f"{df_series_c_pares} series tienen al menos un nro. par => {round((df_series_c_pares/df_total['pairs_yn'].count())*100,2)}%")
print(f"{df_series_s_pares} series NO tienen NINGÚN nro. par => {round((df_series_s_pares/df_total['pairs_yn'].count())*100,2)}%")

5749 series tienen al menos un nro. par => 98.98%
59 series NO tienen NINGÚN nro. par => 1.02%

In [45]:
df_series_c_impares=len(df_total.loc[df_total['unpairs_yn']==1])
df_series_s_impares=len(df_total.loc[df_total['unpairs_yn']==0])
print(f"{df_series_c_impares} series tienen al menos un nro. impar => {round((df_series_c_impares/df_total['unpairs_yn'].count())*100,2)}%")
print(f"{df_series_s_impares} series NO tienen NINGÚN nro. impar => {round((df_series_s_impares/df_total['unpairs_yn'].count())*100,2)}%")

5748 series tienen al menos un nro. impar => 98.97%
60 series NO tienen NINGÚN nro. impar => 1.03%

### Pares_Impares

In [46]:
series_pares_q={}
series_impares_q={}



for i in range(0,6+1):
    series_pares_q[i]= len(df_total.loc[df_total['pairs']==i])
    series_impares_q[i]= len(df_total.loc[df_total['unpairs']==i])
    print(f"{series_pares_q[i]} series tienen {i} números pares ==> {round((series_pares_q[i]/df_total['pairs'].count())*100,2)}%")
    print(f"{series_impares_q[i]} series tienen {i} números impares ==> {round((series_impares_q[i]/df_total['unpairs'].count())*100,2)}%")

59 series tienen 0 números pares ==> 1.02%
60 series tienen 0 números impares ==> 1.03%
487 series tienen 1 números pares ==> 8.38%
481 series tienen 1 números impares ==> 8.28%
1357 series tienen 2 números pares ==> 23.36%
1369 series tienen 2 números impares ==> 23.57%
1995 series tienen 3 números pares ==> 34.35%
1995 series tienen 3 números impares ==> 34.35%
1369 series tienen 4 números pares ==> 23.57%
1357 series tienen 4 números impares ==> 23.36%
481 series tienen 5 números pares ==> 8.28%
487 series tienen 5 números impares ==> 8.38%
60 series tienen 6 números pares ==> 1.03%
59 series tienen 6 números impares ==> 1.02%

### Primos

In [47]:
df_series_c_primos=len(df_total.loc[df_total['primes_yn']==1])
df_series_s_primos=len(df_total.loc[df_total['primes_yn']==0])
print(f"{df_series_c_primos} series tienen al menos un nro. primo => {round((df_series_c_primos/df_total['primes_yn'].count())*100,2)}%")
print(f"{df_series_s_primos} series NO tienen NINGÚN nro. primo => {round((df_series_s_primos/df_total['primes_yn'].count())*100,2)}%")

5293 series tienen al menos un nro. primo => 91.13%
515 series NO tienen NINGÚN nro. primo => 8.87%

In [52]:
df_total.iloc[601:701].loc[:,['ID','serie', 'primes','primes_yn','primes_hist', 'primes_freq']]#,'primes_r10','primes_r10_exp' ,'diff_primes_r10' ,'primes_r50' ,'primes_r50_exp' ,'diff_primes_r50','primes_r100' ,'primes_r100_exp' ,'diff_primes_r100']]

,ID,serie,primes,primes_yn,primes_hist,primes_freq
601,602,"[1, 6, 11, 22, 29, 36]",2,1,1110,1.844
602,603,"[1, 2, 11, 26, 30, 42]",2,1,1112,1.844
603,604,"[0, 3, 6, 23, 30, 31]",3,1,1115,1.844
604,605,"[12, 21, 31, 32, 34, 36]",1,1,1116,1.846
605,606,"[2, 7, 8, 16, 23, 28]",3,1,1119,1.845
...,...,...,...,...,...,...
696,697,"[5, 6, 22, 25, 34, 35]",1,1,1283,1.842
697,698,"[2, 7, 12, 14, 25, 27]",2,1,1285,1.841
698,699,"[4, 9, 13, 21, 28, 31]",2,1,1287,1.841
699,700,"[1, 5, 7, 17, 30, 36]",3,1,1290,1.841
700,701,"[6, 15, 23, 38, 43, 44]",2,1,1292,1.843

In [49]:
series_primos_q={}
series_no_primos_q={}

for i in range(0,6+1):
    series_primos_q[i]= len(df_total.loc[df_total['primes']==i])
    series_no_primos_q[i]= len(df_total.loc[df_total['non_primes']==i])
    print(f"{series_primos_q[i]} series tienen {i} números primos ({6-i} nros. no primos...) ==> {round((series_primos_q[i]/df_total['primes'].count())*100,2)}%")
    #print(f"{series_no_primos_q[i]} series tienen {i} números NO primos ==> {round((series_no_primos_q[i]/df_total['non_primes'].count())*100,2)}%")

515 series tienen 0 números primos (6 nros. no primos...) ==> 8.87%
1778 series tienen 1 números primos (5 nros. no primos...) ==> 30.61%
2066 series tienen 2 números primos (4 nros. no primos...) ==> 35.57%
1101 series tienen 3 números primos (3 nros. no primos...) ==> 18.96%
312 series tienen 4 números primos (2 nros. no primos...) ==> 5.37%
34 series tienen 5 números primos (1 nros. no primos...) ==> 0.59%
2 series tienen 6 números primos (0 nros. no primos...) ==> 0.03%

### Grupos_x_digitos

X Últimos dígitos

In [50]:
last_digit = q6.last_digit
for key, values in last_digit.items():
    print(f'$key: {key} -- $values: {values}')
    df_total['N-'+str(key)+'q']=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), values)[0] ,axis=1)
    df_total['N-'+str(key) + str('S/N')]=df_total.apply(lambda row: get_group_elements((row['n1'],row['n2'],row['n3'],row['n4'],row['n5'],row['n6']), values)[1] ,axis=1)
    df_total['N-'+ str(key) + str('_hist')]=df_total['N-'+str(key)+'q'].cumsum()
    df_total['N-'+ str(key) + str('_freq')]=round((df_total['N-'+ str(key) + str('_hist')].shift(1)/df_total['ID'].shift(1)),3)
    
    df_total['N-' + str(key) + str('_r10')]= (df_total['N-' + str(key) + str('_hist')] - df_total['N-' + str(key) + str('_hist')].shift(10))
    #print('N-' + str(key) + str('_r10'))
    df_total['N-' + str(key) + str('_r10_exp')]= round((df_total['N-' + str(key) + str('_hist')]*10)/df_total['ID'],0)
    df_total[str('diff_') + 'N-' + str(key) + str('_r10')]= df_total['N-' + str(key) + str('_r10')] - df_total['N-' + str(key) + str('_r10_exp')]
            
    df_total['N-' + str(key) + str('_r20')]=(df_total['N-' + str(key) + str('_hist')] - df_total['N-' + str(key) + str('_hist')].shift(20))
    df_total['N-' + str(key) + str('_r20_exp')]= round((df_total['N-' + str(key) + str('_hist')]*20)/df_total['ID'],0)
    df_total['diff_' + str('N-') + str(key) + str('_r20')]= df_total['N-' + str(key) + str('_r20')] - (df_total['N-' + str(key) + str('_r20_exp')])
            
            
    df_total['N-' + str(key) + str('_r30')]=(df_total['N-' + str(key) + str('_hist')] - df_total['N-' + str(key) + str('_hist')].shift(30))
    df_total['N-' + str(key) + str('_r30_exp')]= round((df_total['N-' + str(key) + str('_hist')]*30)/df_total['ID'],0)
    df_total['diff_' + str('N-') + str(key) + str('_r30')]= df_total['N-' + str(key) + str('_r30')] - (df_total['N-' + str(key) + str('_r30_exp')])
            
            
    df_total['N-' + str(key) + str('_r50')]=(df_total['N-' + str(key) + str('_hist')] - df_total['N-' + str(key) + str('_hist')].shift(50))
    df_total['N-' + str(key) + str('_r50_exp')]= round((df_total['N-' + str(key) + str('_hist')]*50)/df_total['ID'],0)
    df_total['diff_' + str('N-') + str(key) + str('_r50')]= df_total['N-' + str(key) + str('_r50')] - (df_total['N-' + str(key) + str('_r50_exp')])
            
            
    df_total['N-' + str(key) + str('_r100')]=(df_total['N-' + str(key) + str('_hist')] - df_total['N-' + str(key) + str('_hist')].shift(100))
    df_total['N-' + str(key) + str('_r100_exp')]= round((df_total['N-' + str(key) + str('_hist')]*100)/df_total['ID'],0)
    df_total['diff_' + str('N-') + str(key) + str('_r100')]= df_total['N-' + str(key) + str('_r100')] - (df_total['N-' + str(key) + str('_r100_exp')])

$key: 0 -- $values: [0, 10, 20, 30, 40]
$key: 1 -- $values: [1, 11, 21, 31, 41]
$key: 2 -- $values: [2, 12, 22, 32, 42]
$key: 3 -- $values: [3, 13, 23, 33, 43]
$key: 4 -- $values: [4, 14, 24, 34, 44]
$key: 5 -- $values: [5, 15, 25, 35, 45]
$key: 6 -- $values: [6, 16, 26, 36]
$key: 7 -- $values: [7, 17, 27, 37]
$key: 8 -- $values: [8, 18, 28, 38]
$key: 9 -- $values: [9, 19, 29, 39]

In [51]:
#print(last_digit)
digito_final_s={}
digito_final_n={}
digito_final_q={}
serie_x_digit={2:0, 3:0, 4:0, 5:0, '2_2_2': 0, '2_2':0, '3_2':0, '3_3':0, '4_2':0}
"""serie_x_digit[2]=0
serie_x_digit[3]=0
serie_x_digit[4]=0
serie_x_digit[5]=0
serie_x_digit['2_2_2']=0
serie_x_digit['2_2']=0
serie_x_digit['3_2']=0
serie_x_digit['3_3']=0
serie_x_digit['4_2']=0"""

print(serie_x_digit['2_2_2'])

#N-1q N-1S/N 
last_key=int(list(last_digit.keys())[-1])+1 #tiene q ser 9, pero tiene q ser iterable (+1)

for key, value in last_digit.items():
    indexq='N-'+str(key)+'q'
    index='N-'+str(key)+'S/N'
    
    digito_final_s[key]=len(df_total.loc[df_total[index]==1])
    print(f"*************************************  NRO {key}  *********************************************************")
    print(f"{digito_final_s[key]} series q tienen al menos 1 número finalizado en {key} => {round((digito_final_s[key]/df_total[index].count())*100,2)}%")
    digito_final_n[key]=len(df_total.loc[df_total[index]==0])
    print(f"{digito_final_n[key]} series q NO tienen ningún número finalizado en {key} => {round((digito_final_n[key]/df_total[index].count())*100,2)}%")
    
    print("-------------------------------------------------------------------------------------------------------------")
    for i in range (0,5+1):
        digito_final_q[key]={}
        if i<1 and i>5: #esto es para sacar las series que tienen 2 grupos diferentes de repeticiones (ej: 2,22,15,35)
            series_digito_final_q=df_total.loc[df_total[indexq]==i] #registros que pueden tener + de dos grupos de rep. 
                        
            digito_final_q[key][i]= len(series_digito_final_q)
        else:    
            digito_final_q[key][i]=len(df_total.loc[df_total[indexq]==i]) #casos $i=0, 1, 5 o 6
            
            print(f"{digito_final_q[key][i]} series q tienen {i} número/s finalizado/s en {key} => {round((digito_final_q[key][i]/df_total[indexq].count())*100,2)}%")
        
        if i == 2:
            serie_x_digit[2]+=digito_final_q[key][i] 
        if i == 3:
            serie_x_digit[3]+=digito_final_q[key][i]
        if i == 4:
            serie_x_digit[4]+=digito_final_q[key][i]
        if i == 5:
            serie_x_digit[5]+=digito_final_q[key][i]
        
        
        if i>1 and i<5:
#
            series_digito_final_q=df_total.loc[df_total[indexq]==i]
            #print('primera condicion')
            if key < last_key-1: #si $key es menor a 9..., si es 9 ya tendría q haber comparado todos los casos...
                for key2 in range (key+1,last_key):
                    #print(f'$key: {key}')
                    #print(f'$key2: {key2}')
                    
                    indexq2='N-'+str(key2)+'q'
                    rep_series=0
                    if i==2:
                        
                        
                        series2_digito_final_q = series_digito_final_q.loc[(series_digito_final_q[indexq]==2) & (series_digito_final_q[indexq2]==2)]
                    
                        
                        if len(series2_digito_final_q)>=1: #si hay alguna posibilidad de  2-2-2 (ej: 0,7,18,20,27,38; 3 pares...)
                            
                            for key3 in range(key2+1, last_key):
                                indexq3='N-'+str(key3)+'q'
                                
                                series222_digito_final_q=series2_digito_final_q.loc[(series2_digito_final_q[indexq]==2) & (series2_digito_final_q[indexq2]==2) & (series2_digito_final_q[indexq3]==2)]
                                
                                if len(series222_digito_final_q)>=1:
                                    #print(f"{indexq} // {indexq2} // {indexq3}")
                                    
            
                                    rep_series= len(series222_digito_final_q)#.loc[(series2_digito_final_q[indexq]==2) & (series2_digito_final_q[indexq2]==2) & (series2_digito_final_q[indexq3]==2)])
                                    serie_x_digit['2_2_2']+=rep_series
                                    rep_series=0
                         ## para 2_2 ...
                            
                            rep_series = len(series2_digito_final_q)
                            serie_x_digit['2_2']+= rep_series
                            rep_series=0
                                                
                        #otro recorte del dataframe... (busco 2_3 ...)
                        series32_digito_final_q = series_digito_final_q.loc[(series_digito_final_q[indexq]==2) & (series_digito_final_q[indexq2]==3)]
                        
                        if len(series32_digito_final_q)>=1:
                            
                            
                            rep_series = len(series32_digito_final_q)
                            serie_x_digit['3_2']+=rep_series
                            rep_series = 0
                                                    
                        series42_digito_final_q = series_digito_final_q.loc[(series_digito_final_q[indexq]==2) & (series_digito_final_q[indexq2]==4)]
                        
                        if len(series42_digito_final_q)>=1:
                            
                            
                            rep_series = len(series42_digito_final_q)
                            serie_x_digit['4_2']+=rep_series
                            rep_series = 0                        
                                                
                    elif i==3:
                    ## buscando 3_2 ...                                
                        series32_digito_final_q = series_digito_final_q.loc[(series_digito_final_q[indexq]==3) & (series_digito_final_q[indexq2]==2)]
                        
                        if len(series32_digito_final_q)>=1:
                            
                            #print(f"{indexq} // {indexq2} ")
                            #print(series32_digito_final_q.loc[:,['ID', 'serie', (f'{indexq}'),(f'{indexq2}')]])
                            rep_series = len(series32_digito_final_q)
                            serie_x_digit['3_2']+=rep_series
                            rep_series = 0
                    
                    ## buscando 3_3 ...                                
                        series33_digito_final_q = series_digito_final_q.loc[(series_digito_final_q[indexq]==3) & (series_digito_final_q[indexq2]==3)]
                        
                        if len(series33_digito_final_q)>=1:
                            
                            
                            rep_series = len(series33_digito_final_q)
                            serie_x_digit['3_3']+=rep_series
                            rep_series = 0
                                                    
                    elif i==4:
                        
                    ## buscando 4_2
                            
                        series42_digito_final_q = series_digito_final_q.loc[(series_digito_final_q[indexq]==4) & (series_digito_final_q[indexq2]==2)]
                        
                        if len(series42_digito_final_q)>=1:
                            
                           
                            rep_series = len(series42_digito_final_q)
                            serie_x_digit['4_2']+=rep_series
                            rep_series = 0
                        
                        
        
print("__________________________________________________________________________________________________________________")        

#print(digito_final_q)

for ii in range (2,5+1):

    
        
    print(f"{serie_x_digit[ii]} serie que tienen {ii} números terminados en un mismo dígito==> {round((serie_x_digit[ii]/df_total[indexq].count())*100,2)}%")
    
    if ii == 2:
        print(f"de las {serie_x_digit[ii]}:")
        print(f"{serie_x_digit['2_2']} series tienen 2 pares con {ii} números terminados en un mismo dígito ==> {round((serie_x_digit['2_2']/df_total[indexq].count())*100,2)}%")
        print(f"{serie_x_digit['2_2_2']} series tienen 3 pares con {ii} números terminados en un mismo dígito ==> {round((serie_x_digit['2_2_2']/df_total[indexq].count())*100,2)}%")
    
    if ii == 3:
        print(f"de las {serie_x_digit[ii]}:")
        print(f"{serie_x_digit['3_2']} series tienen un grupo con {ii} números terminados en un mismo dígito y otro con {ii-1} nros terminados en otro dígito ==> {round((serie_x_digit['3_2']/df_total[indexq].count())*100,2)}%")
        print(f"{serie_x_digit['3_3']} series tienen 2 grupos con {ii} números terminados en un mismo dígito ==> {round((serie_x_digit['3_3']/df_total[indexq].count())*100,2)}%")
              
    if ii == 4: 
        print(f"{serie_x_digit['4_2']} series tienen un grupo con {ii} números terminados en un mismo dígito y otro con {ii-2} nros terminados en otro dígito ==> {round((serie_x_digit['4_2']/df_total[indexq].count())*100,2)}%")

0
*************************************  NRO 0  *********************************************************
3022 series q tienen al menos 1 número finalizado en 0 => 52.03%
2786 series q NO tienen ningún número finalizado en 0 => 47.97%
-------------------------------------------------------------------------------------------------------------
2786 series q tienen 0 número/s finalizado/s en 0 => 47.97%
2356 series q tienen 1 número/s finalizado/s en 0 => 40.56%
603 series q tienen 2 número/s finalizado/s en 0 => 10.38%
61 series q tienen 3 número/s finalizado/s en 0 => 1.05%
2 series q tienen 4 número/s finalizado/s en 0 => 0.03%
0 series q tienen 5 número/s finalizado/s en 0 => 0.0%
*************************************  NRO 1  *********************************************************
3063 series q tienen al menos 1 número finalizado en 1 => 52.74%
2745 series q NO tienen ningún número finalizado en 1 => 47.26%
-------------------------------------------------------------------------------------------------------------
2745 series q tienen 0 número/s finalizado/s en 1 => 47.26%
2353 series q tienen 1 número/s finalizado/s en 1 => 40.51%
654 series q tienen 2 número/s finalizado/s en 1 => 11.26%
50 series q tienen 3 número/s finalizado/s en 1 => 0.86%
6 series q tienen 4 número/s finalizado/s en 1 => 0.1%
0 series q tienen 5 número/s finalizado/s en 1 => 0.0%
*************************************  NRO 2  *********************************************************
3038 series q tienen al menos 1 número finalizado en 2 => 52.31%
2770 series q NO tienen ningún número finalizado en 2 => 47.69%
-------------------------------------------------------------------------------------------------------------
2770 series q tienen 0 número/s finalizado/s en 2 => 47.69%
2285 series q tienen 1 número/s finalizado/s en 2 => 39.34%
679 series q tienen 2 número/s finalizado/s en 2 => 11.69%
73 series q tienen 3 número/s finalizado/s en 2 => 1.26%
1 series q tienen 4 número/s finalizado/s en 2 => 0.02%
0 series q tienen 5 número/s finalizado/s en 2 => 0.0%
*************************************  NRO 3  *********************************************************
3009 series q tienen al menos 1 número finalizado en 3 => 51.81%
2799 series q NO tienen ningún número finalizado en 3 => 48.19%
-------------------------------------------------------------------------------------------------------------
2799 series q tienen 0 número/s finalizado/s en 3 => 48.19%
2327 series q tienen 1 número/s finalizado/s en 3 => 40.07%
608 series q tienen 2 número/s finalizado/s en 3 => 10.47%
72 series q tienen 3 número/s finalizado/s en 3 => 1.24%
2 series q tienen 4 número/s finalizado/s en 3 => 0.03%
0 series q tienen 5 número/s finalizado/s en 3 => 0.0%
*************************************  NRO 4  *********************************************************
2989 series q tienen al menos 1 número finalizado en 4 => 51.46%
2819 series q NO tienen ningún número finalizado en 4 => 48.54%
-------------------------------------------------------------------------------------------------------------
2819 series q tienen 0 número/s finalizado/s en 4 => 48.54%
2314 series q tienen 1 número/s finalizado/s en 4 => 39.84%
618 series q tienen 2 número/s finalizado/s en 4 => 10.64%
53 series q tienen 3 número/s finalizado/s en 4 => 0.91%
4 series q tienen 4 número/s finalizado/s en 4 => 0.07%
0 series q tienen 5 número/s finalizado/s en 4 => 0.0%
*************************************  NRO 5  *********************************************************
2992 series q tienen al menos 1 número finalizado en 5 => 51.52%
2816 series q NO tienen ningún número finalizado en 5 => 48.48%
-------------------------------------------------------------------------------------------------------------
2816 series q tienen 0 número/s finalizado/s en 5 => 48.48%
2285 series q tienen 1 número/s finalizado/s en 5 => 39.34%
622 series q tienen 2 número/s finalizado/s en 5 => 10.71%
85 series q tienen 3 número/s finalizado/s en 5 => 1.46%
0 series q tienen 4 número/s finalizado/s en 5 => 0.0%
0 series q tienen 5 número/s finalizado/s en 5 => 0.0%
*************************************  NRO 6  *********************************************************
2553 series q tienen al menos 1 número finalizado en 6 => 43.96%
3255 series q NO tienen ningún número finalizado en 6 => 56.04%
-------------------------------------------------------------------------------------------------------------
3255 series q tienen 0 número/s finalizado/s en 6 => 56.04%
2079 series q tienen 1 número/s finalizado/s en 6 => 35.8%
452 series q tienen 2 número/s finalizado/s en 6 => 7.78%
22 series q tienen 3 número/s finalizado/s en 6 => 0.38%
0 series q tienen 4 número/s finalizado/s en 6 => 0.0%
0 series q tienen 5 número/s finalizado/s en 6 => 0.0%
*************************************  NRO 7  *********************************************************
2536 series q tienen al menos 1 número finalizado en 7 => 43.66%
3272 series q NO tienen ningún número finalizado en 7 => 56.34%
-------------------------------------------------------------------------------------------------------------
3272 series q tienen 0 número/s finalizado/s en 7 => 56.34%
2119 series q tienen 1 número/s finalizado/s en 7 => 36.48%
393 series q tienen 2 número/s finalizado/s en 7 => 6.77%
23 series q tienen 3 número/s finalizado/s en 7 => 0.4%
1 series q tienen 4 número/s finalizado/s en 7 => 0.02%
0 series q tienen 5 número/s finalizado/s en 7 => 0.0%
*************************************  NRO 8  *********************************************************
2575 series q tienen al menos 1 número finalizado en 8 => 44.34%
3233 series q NO tienen ningún número finalizado en 8 => 55.66%
-------------------------------------------------------------------------------------------------------------
3233 series q tienen 0 número/s finalizado/s en 8 => 55.66%
2146 series q tienen 1 número/s finalizado/s en 8 => 36.95%
399 series q tienen 2 número/s finalizado/s en 8 => 6.87%
30 series q tienen 3 número/s finalizado/s en 8 => 0.52%
0 series q tienen 4 número/s finalizado/s en 8 => 0.0%
0 series q tienen 5 número/s finalizado/s en 8 => 0.0%
*************************************  NRO 9  *********************************************************
2574 series q tienen al menos 1 número finalizado en 9 => 44.32%
3234 series q NO tienen ningún número finalizado en 9 => 55.68%
-------------------------------------------------------------------------------------------------------------
3234 series q tienen 0 número/s finalizado/s en 9 => 55.68%
2128 series q tienen 1 número/s finalizado/s en 9 => 36.64%
409 series q tienen 2 número/s finalizado/s en 9 => 7.04%
37 series q tienen 3 número/s finalizado/s en 9 => 0.64%
0 series q tienen 4 número/s finalizado/s en 9 => 0.0%
0 series q tienen 5 número/s finalizado/s en 9 => 0.0%
__________________________________________________________________________________________________________________
5437 serie que tienen 2 números terminados en un mismo dígito==> 93.61%
de las 5437:
1285 series tienen 2 pares con 2 números terminados en un mismo dígito ==> 22.12%
37 series tienen 3 pares con 2 números terminados en un mismo dígito ==> 0.64%
506 serie que tienen 3 números terminados en un mismo dígito==> 8.71%
de las 506:
129 series tienen un grupo con 3 números terminados en un mismo dígito y otro con 2 nros terminados en otro dígito ==> 2.22%
3 series tienen 2 grupos con 3 números terminados en un mismo dígito ==> 0.05%
16 serie que tienen 4 números terminados en un mismo dígito==> 0.28%
1 series tienen un grupo con 4 números terminados en un mismo dígito y otro con 2 nros terminados en otro dígito ==> 0.02%
0 serie que tienen 5 números terminados en un mismo dígito==> 0.0%